Solidity/WonkaEngine/build/contracts/
Solidity/WonkaEngine/node_modules
WonkaSystem/.vs/
WonkaSystem/packages
WonkaSystem/WonkaBre/WonkaBreRuleMediator.xml
WonkaSystem/WonkaBre/bin/
WonkaSystem/WonkaBre/obj/._.DS_Store
WonkaSystem/WonkaBre/obj/
WonkaSystem/WonkaEth/bin/
WonkaSystem/WonkaEth/WonkaEth.csproj.user
WonkaSystem/WonkaEth/obj/
WonkaSystem/WonkaPrd/obj/
WonkaSystem/WonkaPrd/bin/
WonkaSystem/WonkaSystem/obj/
WonkaSystem/WonkaSystem/bin/
WonkaSystem/WonkaRef/bin/
WonkaSystem/WonkaRef/obj/
WonkaSystem/WonkaIpfs/bin/
WonkaSystem/WonkaIpfs/obj/
WonkaSystem/WonkaIpfs/WonkaIpfs.csproj.user
